@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,400italic|Yeseva+One|Lato|Gentium+Book+Basic:700);
@import url(https://fonts.googleapis.com/css?family=Gentium+Book+Basic:700);

body{
	font: 400 16px/1.5 'Lato', sans-serif;
	color: #4c4c4c;
}

/* Typography */
a,
input[type="submit"],
input[type="button"],
button{
	-webkit-transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
	-moz-transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
	transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
}
input[type="submit"],
input[type="button"],
button,
.ba-button{
	display: inline-block;
	color: #ffffff;
	font-size: 18px;
	line-height: 55px;
	background-color: rgba(255, 255, 255, 0.28);
	border: 1px solid #fff;
	padding: 0 51px;
	min-height: 57px;
	text-decoration: none;
}
input[type="submit"]:hover,
input[type="button"]:hover,
button:hover,
.ba-button:hover{
	background-color:  rgba(39, 38, 40, 0.8);
	border-color: #000;
}
input[type="submit"]:active,
input[type="button"]:active,
button:active,
.ba-button:active{
	position: relative;
	top: 1px;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
input[type="tel"],
textarea,
select {

	-webkit-transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
	-moz-transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
	transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
textarea:focus,
select:focus {

}
textarea {

}

/* Layout */
.ba-container{
	padding-left: 20px;
	padding-right: 20px;
	max-width: 1210px;
}
.ba-section {
	padding: 100px 0;
}

/* intro */
.ba-intro {
	background: url(../img/intro-bg.jpg) 50% no-repeat;
	background-size: cover;
}
.ba-header {
	position: fixed;
	background: linear-gradient(to bottom, rgba(0,0,0,.5), transparent);
	width: 100%;
}
.ba-logo {
	margin: 2px 0 10px;
}
.ba-intro__social {
	line-height: 110px;
	padding-left: 7px;

}
.ba-intro__social a{
	color: #dab33e;
	font-size: 21px;
	margin-left: 10px;
}
.ba-intro__social a:hover {
	color: #fff;
}
.ba-intro__social a:first-child {
	margin-left: 0;
}
.ba-menu {
	list-style: none;
	margin-top: 0;

}
.ba-menu li {
	display: inline-block;
	margin-left: 44px;
}

.ba-menu a {
	font-family: 'Gentium Book Basic', sans-serif;;
	color:  #ffffff;
	font-size: 21px;
	line-height: 110px;
	font-weight: 700;
	text-decoration: none;
	display: block;
	position: relative;
}
.ba-menu a:before {
	display: block;
	content: '';
	position: absolute;
	height: 3px;
	width: 100%;
	background-color: rgba(255,255,255,.7);
	opacity: 0;
	transition: opacity .3s ease-in;
}
.ba-menu a:hover:before {
	opacity: 1;
}
@media (max-width: 959.9px) {
	.ba-menu {
		display: none;
	}
}
.ba-intro-content {
	padding: 205px 0 140px;
}
.ba-button--intro {
	margin: 34px 15px 0;
}

.ba-intro__title {
	font-family: 'Yeseva One', sans-serif;
	color: #ffffff;
	font-size: 90px;
	line-height: 1.35;
	font-weight: 400;
	text-shadow: 0px 1px 2px rgba(1, 1, 1, 0.64);
	max-width: 970px;
	margin: 0 auto;
	margin-left: 155px;
	padding-bottom: 64px;
	background: url(../img/intro-decor.png) 50% 100% no-repeat;
}
@media (max-width: 767.9px) {
	.ba-intro__title {
		font-size: 70px;
	}
}
@media (max-width: 479.9px) {
	.ba-intro__title {
		font-size: 40px;
	}
}

/* about */
.ba-about {
	background:
	linear-gradient(-45deg, rgba(0,0,0,.15), transparent),
	url(../img/about-bg.jpg) 50% no-repeat;
	background-size: auto, cover;
	box-shadow: 0px 0px 50px 0px rgba(1, 1, 1, 0.14) inset;
	padding: 50px 0 0px;
}
.ba-about__text {
	padding: 20px 0 100px 135px;
	width: 43%;
}
.ba-about__title {
	font-family: 'Yeseva One', sans-serif;
	color: #cc9900;
	font-size: 36px;
	font-weight: 400;
	line-height: 1;
	padding-bottom: 40px;
	background: url(../img/about-decor.png) 50% 100% no-repeat;
	margin-bottom: 30px;
}
.ba-about__text p {
	max-width: 480px;
	margin: 0 auto;
	margin-left: -20px;
	text-align: justify;
}

.ba-about__img {
	display: inline-block;
	margin-left: 70px;
	margin-top: 30px;
}
.ba-about-img {
	width: 52%;
	margin-left: 30px;
}

@media (max-width: 767.9px) {
	.ba-about__text,
	.ba-about-img {
		width: 100%;
		padding: 0;
		margin: 0;
		float: none;
	}
}

/* ingredients */
.ba-ingredients {
	background: url(../img/ingredients-bg.jpg) 50% no-repeat;
	background-size: cover;
}
.ba-ingredients-text {
	max-width: 570px;
	color:  #ffffff;
	background: rgba(0, 0, 0, .67);
	padding: 70px 78px 70px 78px;
	margin-right: -38px;
	margin-top: 5px;
}
.ba-ingredients-text__title {
	font-family: 'Yeseva One', sans-serif;
	font-size: 36px;/* Approximation due to font substitution */
	font-weight: 400;
	padding-bottom: 33px;
	background: url(../img/ingr-decor.png) 50% 100% no-repeat;
	margin: 0;
}
.ba-ingredients p {
	max-width: 430px;
	margin: 25px 0 68px;
}
.ba-ingredients-text__img {
	margin: 0 10px;
}
@media (max-width: 479.9px) {
	.ba-ingredients-text {
		padding: 10px 18px;
	}
}

/* ba-list */
.ba-list {
	background: linear-gradient(135deg, rgba(30,85,86, .10), transparent),
	url(../img/list-bg.jpg) 50% no-repeat;
	background-size: cover;
	box-shadow:0px 0px 50px 0px rgba(1,1,1, 0.1) inset;
	padding-top: 105px;
	padding-bottom: 100px;
}

.ba-menu-item {
	max-width: 430px;
	margin-left: 54px;
}


.ba-list-item__title {
	font:400 36px/1 'Yeseva One',sans-serif;
	background: url(../img/about-decor.png) 50% 100% no-repeat;
	margin: 0;
	margin-left: 70px;
	margin-bottom: 20px;
	color: #cc9900;
	padding-bottom: 40px;
}

.ba-list-item__list {
	list-style: none;
	margin: 0;
	padding: 0;

}

.ba-list-item__list >li {
	margin-top: 0px;
	padding: 6px 0px 5px;
	margin-left: 102px;
}

.ba-width-1-2 .ba-list-item:nth-child(2) {
	margin-top: 45px;
}

.ba-list-item__special {
	border: 1px solid #EBDEB8;
	position: relative;
	margin-top: 22px;
}

.ba-list-item__special:before {
	content:"Special";
	display: block;
	position: absolute;
	top: -22px;
	right: 0;
	text-align: center;
	background-color: #D7BA69;
	font:400 14px/1.71 'Lato', sans-serif;
	color: #f8fafa;
	width: 69px;
	height: 22px;
}

.ba-list-item_list p {
	margin: 9px 0;
}

.ba-list-item__head {
	border-bottom: 1px solid #E8DAAE;
	margin-top: 5px;
	margin-left: 0;
	font:400 21px/1.14 'Yeseva One', sans-serif;
	color: #c89f2d;
}

.ba-list-item__name {
	margin: 0;
	float: left;
	font-weight: 400;
}

.ba-list-item__price {
	float: right;
	margin-right: 40px;
}

/* ba-rewiew */

.ba-rewiew {
	background: url(../img/rewiew-bg.jpg) 50% no-repeat;
	background-size:cover;
	color:#FFFFFF;
	margin-top: -20px;
	padding-top: 150px;
	padding-bottom: 100px;
	text-align: center;
}

.ba-rewiew__text {
	margin: 0 165px 0 235px;
	padding: 55px 0px 75px 0;
	margin-top: -55px;
	font:700 25px/1.8 'Gentium Book Basic', sans-serif;
	color: #dee0e0;
	background: rgba(0, 0, 0, .67);
}

.ba-rewiew__text:hover {
	background: rgba(0, 0, 0, .77);
}

.ba-rewiew__maintext {
	background:url(../img/quote-left.png) 0% 0% no-repeat;
	padding-left: 30px;
	margin-top: -10px;
	margin-left: 25px;
}

.ba-rewiew__title {
	margin-top: 20px;
	font:400 36px 'Yeseva One',sans-serif;
	background: url(../img/ingr-decor.png) 50% 100% no-repeat;
	padding-bottom: 40px;
}

.ba-rewiew_textfooter {
	margin-top: -5px;
	font:400 18px/2.5 'Lato', sans-serif;
	color: #ffffff;
}

/* ba-contact */
.ba-contact{
	background: url(../img/contact-bg.jpg) 50% no-repeat;
	background-size: cover;
	padding: 100px 0 95px 75px;
}
.ba-contact__text,
.ba-contact__title {
	max-width: 430px;
	text-align: center;
	color:  #4c4c4c;
	margin: 0 auto;
}
.ba-contact__title {
	font-family: YesevaOne, serif;
	color:  #cc9900;
	font-size: 40px;
	background: url(../img/about-decor.png) 50% 100% no-repeat;
	padding-bottom: 45px;
	line-height: 0.9;
	margin-left:70px;
	letter-spacing: 1px;

}
.ba-contact__text {
	line-height: 1.65;
	letter-spacing: 0.7px;
	max-width: 430px;
	margin-right: 67px;
	padding-top: 10px;
	margin-bottom: 20px;
	margin-top: 10px;
}

.ba-form {
	max-width: 430px;
	margin: 0 auto;
	margin-top: -20px;
	padding: 5px;
	text-align: center;
}
.ba-form label {
	display: block;
	font-family: Lato, sans-serif;
	color:  #c9a131;
	font-size: 16px;
	text-align: left;
}
.ba-form-field {
	display: block;
	margin-top: 7px;
	padding: 5px 15px;
	width: 100%;
	margin-bottom: 10px;
}
.ba-form-field:focus {

	border: 1px solid #c9a131;
}
.ba-form-field:hover {
	border: 1px solid #c9a191;
}

.ba-form-select {
	color:  #B1A9B1;
	padding: 7px 15px;
	margin-top: 9px;
	font-size: 14px;
	width: 100%;
}
.ba-button--form {
	display: inline-block;
	min-height: 35px;
	line-height: 35px;
	background: #c89f2d;
	margin-top: 5px;
	margin-left: 0;
	padding: 0 55px;
}

/* footer */
.ba-footer {
	background-color: #191919;
	background-size:cover;
	font-size: 14px;
	padding: 35px 0 70px;
	text-align: center;
	color:#E0E0E0;
	padding-left: 70px;
	font-weight: 400;
}
.ba-footer__title {
	font-family: 'Yeseva One', serif;
	color:  #fefefe;
	font-size: 21px;
	background: url(../img/ingr-decor.png) 50% 100% no-repeat;
	padding-bottom: 25px;
}
.ba-footer p {
	line-height: 1.5;
	font-size: 17px;
	margin-top: 0;
	margin-bottom: 0;
}
.ba-footer__cards,
.ba-footer__social {
	margin-top: 47px;
}
.ba-footer .fa {
	color: #FFF;
	font-size: 16px;
	padding-left: 10px;
}

.ba-footer__cards:hover .fa,
.ba-footer__social:hover .fa{
	opacity:.5;
}

.ba-footer__cards .fa:hover{
	opacity:1;
	color:yellow;
}


.ba-footer__social .fa:hover{
	opacity:1;
}

